In [137]:
# List Comprehension
a=[i for i in range(1,50)if i%2==0 ]
print(a)

dev = ["devanshu", "mohit", "anshu", "ravi", "him"]
b = [i for i in (dev)if len(i) <= 5]
print(b)

l =[i*i for i in range(1,11)]
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
['mohit', 'anshu', 'ravi', 'him']

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [138]:
#Dictionary comprehension
d={i:i**2 for i in range(1,6)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [139]:
d={i:[i**2 ,i**3] for i in range(1,6)}
d

{1: [1, 1], 2: [4, 8], 3: [9, 27], 4: [16, 64], 5: [25, 125]}

In [140]:
d={i: i for i in range (1,21)if(i%2==0)}
d

{2: 2, 4: 4, 6: 6, 8: 8, 10: 10, 12: 12, 14: 14, 16: 16, 18: 18, 20: 20}

In [141]:
d={"a":5,"b":7}
for  a,b in d.items():
  print(a,b)

# To change and swap the values and keys 
d2={i:j for j,i in d.items()}
d2

a 5
b 7

{5: 'a', 7: 'b'}

In [142]:
# Create a dictionary counting character frequencies
s="Why so serious!"
d={c:s.count(c) for c in set(s)}
d

{'e': 1,
 '!': 1,
 'r': 1,
 ' ': 2,
 'i': 1,
 'y': 1,
 'W': 1,
 's': 3,
 'h': 1,
 'o': 2,
 'u': 1}

In [143]:
# Create a dictionary of tuple keys with their sum as values, for even sums

d={(i,j):i+j for i in range (1,5) for j in range (1,5) if (i+j)%2 == 0}
d

{(1, 1): 2,
 (1, 3): 4,
 (2, 2): 4,
 (2, 4): 6,
 (3, 1): 4,
 (3, 3): 6,
 (4, 2): 6,
 (4, 4): 8}

In [144]:
# Create a dictionary from 1-10 and mention even and odd as their values
d={i:("Even") if (i%2==0) else ("Odd") for i in range(1,11)  }
d

{1: 'Odd',
 2: 'Even',
 3: 'Odd',
 4: 'Even',
 5: 'Odd',
 6: 'Even',
 7: 'Odd',
 8: 'Even',
 9: 'Odd',
 10: 'Even'}

In [ ]:
grades = {'Alice': 'A', 'Bob': 'B', 'Charlie': 'A', 'David': 'C', 'Eve': 'B'}
d1 = {grade: [name for name in grades if grades[name] == grade] for grade in set(grades.values())}
print(d1)